.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #2D336B;
    padding: 15px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    margin: 0 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.navbar ul li a:hover {
    color: #4F959D;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7886C7;
    color: #2D336B;
}

header .hero {
    display: flex;
    background-color: #7886C7;
    color: white;
    padding: 20px;
    align-items: center;
}

header .hero img {
    max-width: 200px;
    border-radius: 50%;
    margin-right: 20px;
}

header .hero .intro-text {
    max-width: 600px;
}

header .intro-text {
    color: #2D336B;
}

main section {
    padding: 20px;
}

main #keahlian .skills, main #projects .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.skill-box, .project-box {
    background-color: #2D336B;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

skill-box:hover, .project-box:hover {
    transform: scale(1.1);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #2D336B;
    color: white;
}

footer .socials {
    margin-top: 10px;
}

footer .socials a {
    display: inline-block;
    margin: 0 10px;
    color: white;
    font-size: 20px;
    transition: transform 0.3s ease-in-out, color 0.3s;
    text-decoration: none;
}

footer .socials a:hover {
    transform: scale(1.2);
    color: #4F959D;
}

.fade-in {
    opacity: 0;
    transition: opacity 2s ease-in;
}

.scroll-animate {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}